
#cabecera {
    width: 920px;
}
#cabecera h1 {
    background-color: #cccccc;
    margin-bottom: 0;
}
#cabecera h2 {
    background-color: #ededed;
    border-bottom: 3px dashed gray;
    margin-top: 0;
    text-align: right;
}
section {
    border-left: 3px dashed gray;
    border-right: 3px dashed gray;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 200px;
}
article {
    border: 1px solid black;
    padding: 0;
    margin-top: 3px;
}
article h3 {
    background-color: gray;
    color: white;
    margin: 0;
    padding: 3px;
    text-align: right;
}
p {
    padding: 3px 15px;
}
section h2 {
    background-color: #e6e6e6;
    font-size: 16pt;
    margin-bottom: 1px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}
#columna4 .bloque2 {
    overflow-x: scroll;
}