
#contenedor {
    margin: 0 auto;
    width: 100%;
}
header {
    background-color: tan;
    height: 100px;
    margin: 2px;
    margin-bottom: -17px;
}
h3 {
    padding: 6px;
}
nav {
    background-color: wheat;
    display: block;
    margin: 2px;
    margin-bottom: -17px;
}
section {
    background-color: wheat;
    float: left;
    height: 400px;
    margin: 2px 2.5px;
    width: 24.6%;
}
footer {
    background-color: tan;
    clear: left;
    display: block;
    height: 12%;
    margin: 2px;
}
.columna2, .columna4 {
    background-color: tan;
}